/* Enter your Styles below! */


body { 
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	 }

h1, h2, h3, h4 {
	font-family: Helvetica, sans-serif;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}

blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
	color: red;
	text-decoration: none;
	 }
a:hover { 
	color: black; 
	}


.home {
	margin-top:5%;
	margin-left: 20px;
	margin-right:20px;

}

.grid {
	display: grid;
	grid-template: 1fr 1fr 1fr;
	margin:3%;
}

.grid div {
	background-color: transparent;
	margin-top:50%;
}
@media only screen and (min-width: 768px) {
	body{
		background-color: lightblue;
		}

.grid {
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	margin: auto;
		}

.home { 
	margin-left: 50%;
	margin-right: 10%;
	margin-top: 40px;
}
}

@media only screen and (min-width: 1024px) {
	body{

			}
}
/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/