@-webkit-keyframes marquee {
0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }

}

a:link {
color: white;
}

a{ 
text-decoration: none;
}

a:visited {
color: white;
-webkit-text-stroke-width: 1.5px;
-webkit-text-stroke-color: #E8A1A6;
}

h2, h3, h4 {
	font-family: serifa, serif;
	font-weight: 500;
	font-style: normal;}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 30px;
	padding-top: 20px;
	color: #E8A1A6;

}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	color: #E8A1A6;
	line-height: 1.1;
	margin-top: 30px;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 25px;
	color: #E8A1A6;
	line-height: 1.1;
	margin-top: 30px;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
}

/* ensures that your images stretch the width of their containers */
img { 
	width: 100%;
	margin-top: 15px;
}


main{
	opacity: 0.75;
	margin-bottom: 130px;
	font-family: serifa, serif;
	font-weight: 100;
	font-style: normal;	
}

p {
	font-family: serifa, serif;
	font-weight: 100;
	font-style: normal;	
	padding: 5px 0px;
	line-height: 1.2em;
	font-size: 14px;
	/*margin-right: 10%;
	margin-left: 10%;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	
}

footer{
	background-color: #efefef;
	bottom:0;
	left:0;
	right:0;
}


.marquee {
	height: 25px;
	width: 765px;
	font-family: serifa, serif;
	font-weight: 400;
	font-style: normal;
	overflow: hidden;
	position: relative;
	padding-top: 15px;
	background-color: #E8A1A6;
	color: white;

	}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee 15s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@keyframes homenav {
  0% { left: 0; }
  100% { left: -100%; }
}

/*.nav, .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
} */

.homenav {
	font-family: 'Montserrat', sans-serif;
	font-size: 20vh;
    white-space: nowrap;
    position: relative;
    color: #E8A1A6;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #E8A1A6;
}

.homenav a:hover {
	color: #E8A1A6;
	position: relative;
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	animation: marquee 15s linear infinite;
	
} 

.icon {
    position: absolute;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;

}

.hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #E8A1A6;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #E8A1A6;
    border-radius: 5px;
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

.menu-mobile {
    background-color: #efefef;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
	font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #333;
    height: 70px;
    line-height: 70px;
}

.menu-mobile a:hover {
    color: #E8A1A6;
}

.desktop, .menu-desktop, .menu-mobile {
        display: none;
    }

.img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-bottom: 20px;
}

.slideshow {
	width: 80%;
	height: 400px;
	margin: 40px auto;
	outline: none;
	}

.list{
	list-style-type: circle;
	text-align: left;
	position: center;
	margin-left: 30px;
}


.li1 { 
padding-top:10px;}

.li2 { 
padding-top:10px;}

.li3 { 
padding-top:10px;}

.li4 { 
padding-top:10px;}

.parent {
}

.div1 { /*margin:5%;*/
		padding-top:60px;
		padding-left: 60px;
		padding-right: 60px;
		text-align: center;
	}
.div2 { /*margin:5%;*/
		padding: 60px;
		text-align: center;	
	}	
.div3 {	/*margin:5%;*/
		padding: 60px;
		text-align: center;
	}

.grid {
	display: grid;
	grid-template: 1fr 1fr 1fr;
	}

.grid div {
	background-color: transparent;
	}

@media only screen and (min-width: 768px) {
    /* START of desktop menu for 768 media query */
    
.homenav {
	font-family: 'Montserrat', sans-serif;
	font-size: 20vh;
    white-space: nowrap;
    text-overflow: hidden;
    position: relative;
    color: #E8A1A6;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #E8A1A6;
}

/*.homenav a:hover {
	color: #E8A1A6;
	position: relative;
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	animation-name: moveMe;
	animation-duration: 4s;
    animation-iteration-count: 3;
    animation-play-state: paused;
}*/  

.marquee {
	height: 25px;
	width: 2000px;
}

.marquee div {


  animation: marquee 25s linear infinite;
}

.menu-desktop {
	font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: block;
    position: fixed;
	padding: 30;
	margin-bottom: 100px;
	margin-top: 20px;
	line-height: 50px;
	justify-content: space-evenly;
	flex-direction: row;
	height: 0;
	text-align: right;
	top: 0;
	right: 0;
    }

.menu-desktop a {
	margin-right: 30px;
	height: 0;
	line-height: 50px;
	text-decoration: none;
	color: #333;
	justify-content: space-evenly;
	display: flex;
    flex-direction: column;
    padding-top: 30px;
    }


.menu-desktop a:hover {
        color: #E8A1A6;
    }

.desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        display: block;
    }

header.nav, .menu-mobile {
        display: none;
    }

.about img{ 
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	
}

.parent {
	display: inline-grid;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 10px;
	padding: 5px;
}



.div1 { grid-area: 1 / 1 / 4 / 5; }
.div2 { grid-area: 1 / 5 / 4 / 9; }
.div3 { grid-area: 1 / 9 / 4 / 13; }
.slideshow { grid-area: 4 / 1 / 10 / 13; }
.div5 { grid-area: 10 / 1 / 13 / 4; }
.div6 { grid-area: 10 / 4 / 13 / 7; }
.div7 { grid-area: 10 / 7 / 13 / 10; }
.div8 { grid-area: 10 / 10 / 13 / 13; }



.logo {
	height:100px;
	width: 100px;
	margin: 5% 60% 0% 50%;
}

.home { 
	margin-right: 70%;
	margin-left: 10px;

}

h3 {
	font-size: 20px;
	text-align: left;
}


@media only screen and (min-width: 1024px) {
	body{

			}
}
/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/